// _partial.scss
$header-color: #c0eea9;
$hero-color:#97d279;
$line-background-color: #000;
$standard-padding: 20px;

@mixin textblock() {
    max-width: 700px;
    text-align: center;
    padding: $standard-padding;
}