* {
    box-sizing: border-box;
  }

body {
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin-left: 60px;
    margin-right: 60px;
}

h1 {
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 500%;
    text-align: center; 
    margin: 0px;
}

h4 {
color: yellow;
text-decoration: underline;
}

em {
    color: lightcyan;
}

.menu   {
    border: solid medium silver;
    border-radius: 10px;
    max-width: auto;
    background-color: yellow;
    text-align: center;
}

.menu li
{
    list-style: none;
    display: inline;
    width: auto;
    margin: 0px;
    padding: 10px;
    font-size: 200%;
}

.border-1 {
    border: dotted 20px blue;
    max-height: auto;
    margin: 30px 0px;
    padding: 0px;    
}

.border-2 {
    border: ridge red 8px;
    margin: auto;    
    background: lightgreen;
    min-width: 200px;
    padding: 0px 15px;  
}
.border-3 {
    border: dashed yellow 5px;
    margin: 30px 0px 30px; 
    padding: 10px;  
}