* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 1em 2em;
  }

  ul, ol {
    list-style: none;
    padding: 0;
  }

  li {
    text-align: center;
    line-height: 2;
    background: slategrey;
  }

  div {
    width: 12em;
    float: left;
    margin-right: 2em;
  }

 hr {
    clear: both;
    padding-top: 1em;
    border: 0;
    border-bottom: 1px solid grey;
  }

  ol, ul {
    margin-top: 20px;
}

  /* maak je selectors hier. Gebruik het volgende achtergrondkleur: lightsteelblue;*/

.one li:first-child {
background-color: lightsteelblue;
}

.two ol li:nth-child(3){
    background-color: lightsteelblue;
}

.three ul :nth-child(1), .three  ul :nth-child(2), .three  ul :nth-child(3) {
    background-color: lightsteelblue;

}