@use 'general-styling';
@use 'color';
@use 'text';

/* Start -- opdracht 1 */

HTML, body {
    background-color: #c3cfe2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .square {
        box-shadow: 3px 3px 15px grey;
    }
    .square-1 {
        border-radius: 25px 25px 0px 0px;
        width: 450px;
        height: 380px;
        background-color: $white-color;
        p {   
        margin: 40px;
        font-size: 1.35rem;
        line-height: 2.5rem;
        letter-spacing: -0.05rem;
        color: $main-text-color;
        }
    }
    .square-2 {
        border-radius: 0px 0px 25px 25px;
        width: 450px;
        height: 180px;
        background-color: #686de0;
        .portrait {
            text-align: $text-align-center;
            & img {
                height: 120px;
                width: 120px;
                object-fit: cover;
                margin-top: -60px;
                border-radius: 50%;
                border: solid $white-color 5px;
            }
        }
        .name {
            font-size: 1.4rem;
            font-weight: normal;
            color: $white-color;
            text-align: $text-align-center;
            letter-spacing: 0.1rem;
            margin-top: 0.5rem;
        }
        .subname {
            font-size: 1.1rem;
            font-weight: normal;
            color: rgba(255, 255, 255, 0.5);
            text-align: $text-align-center;
            letter-spacing: 0.03rem;
            margin-top: 1rem;
        }
    }
}/* opdracht 1 -- Einde */